* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 400px auto;
}

iframe {
  width: 100%;
  height: calc(100vh - 66px);
}

img {
  width: 100%;
  max-height: 100vh;
  object-fit: contain;
}

.gallery {
  display: grid;
  overflow: auto;
  gap: 8px;
  grid-row: span 2;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

ul li {
  cursor: pointer;

  &:focus-within {
    outline: 1px solid black;
  }
}
